// Variables
$primary-color: #3498db;
$secondary-color: #2ecc71;
$text-color: #333;


$background-color_1: #ecf0f1;
$background-color_2: transparent;

$font-family_1: "Poppins", sans-serif;

// Mixins
@mixin button-style {
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

// Extendable selector
.button {
    @include button-style;
    background-color: $primary-color;
    color: #fff;

    &:hover {
        background-color: darken($primary-color, 10%);
    }
}

// Container
.container {
    width: 80%;
    margin: 0 auto;
    max-width: 1200px;
}

// Header
header {
    background-color: $primary-color;
    color: #fff;
    padding: 20px 0;

    h1 {
        font-size: 24px;
        margin: 0;
    }

    nav ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        text-align: center;

        li {
            display: inline-block;
            margin-left: 20px;

            a {
                color: #fff;
                text-decoration: none;
                transition: color 0.3s ease;

                &:hover {
                    color: #ddd;
                }
            }
        }
    }
}

// Main sections
main {
    padding: 0;

    h2 {
        font-size: 2.5em;
        margin-bottom: 20px;
    }

    p {
        line-height: 1.5;
    }

    .banner {
        background-image: url('img/banner.png');
        background-size: cover;
        color: #fff;
        padding: 100px 0;
        text-align: center;
        margin-bottom: 20px;
    }
}


// Footer
footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}



.container2 {
	font-size: 16px;
	width: 90vw;
	max-width: 75em;
	padding: 3em 1.8em;
	background-color: $background-color_1;
    margin: auto;
	border-radius: 0.6em;
	box-shadow: 1.2em 2em 3em rgba(0, 0, 0, 0.2);
	max-height: 80vh;
	overflow-y: auto;
	
	/* Customize scrollbar */
	&::-webkit-scrollbar {
		width: 6px; 
	}

	&::-webkit-scrollbar-thumb {
		background-color: $primary-color;
		border-radius: 3px; 
	}

	&::-webkit-scrollbar-track {
		background-color: $background-color_1; 
	}

	&::-webkit-scrollbar-thumb:hover {
		background-color: lighten($primary-color, 10%); 
	}
}
.search-container {
	display: grid;
	grid-template-columns: 9fr 3fr;
	gap: 1.2em;

	input {
		font-size: 0.9em;
		outline: none;
		border-radius: 0.3em;
		background-color: $background-color_2;
		border: 1px solid #a0a0a0;
		padding: 0.7em;
		color: $text-color;
	
		&:focus {
			border-color: $primary-color;
		}
}

	button {
		font-size: 0.9em;
		outline: none;
		border-radius: 0.3em;
		background-color: $secondary-color;
		border: none;
		cursor: pointer;
		transition: background-color 0.3s ease, letter-spacing 0.3s ease; 
	
		&:hover {
			letter-spacing: 5px; 
			background-color: lighten($secondary-color, 50%); 
		}
	}
}

#result {
	color: $text-color;
}
.info {
	position: relative;
	display: grid;
	grid-template-columns: 4fr 8fr;
	align-items: center;
	margin-top: 1.2em;
}
.poster {
	width: 100%;
	border: 4px solid;
    border-radius: 0.3em;
	animation: borderRotate 2s linear infinite;
}



.container2 h2 {
	text-align: center;
	font-size: 2.5em;
	font-weight: 600;
	letter-spacing: 0.06em;
	animation: shadowAnimation 2s infinite alternate;
}



.rating {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 0.6em;
	margin: 0.6em 0 0.9em 0;
	img {
		width: 2em;
	}
	h4 {
		display: inline-block;
		font-size: 2.1em;
		font-weight: 500;
	}
}
.details {
	display: flex;
	font-size: 1.8em;
	gap: 1em;
	justify-content: center;
	color: $text-color;
	margin: 0.6em 0;
	font-weight: 300;
}
.genre {
	display: flex;
	justify-content: space-around;
    font-size: 2em;
	div {
		border: 1px solid #a0a0a0;
		font-size: 0.75em;
		padding: 0.4em 1.6em;
		border-radius: 0.4em;
		font-weight: 300;
	}
}
.container2 h3 {
	font-weight: 500;
	margin-top: 1.2em;
	color: $text-color;
    font-size: 1.4em;
}
.container2 p {
	font-size: 0.9em;
	font-weight: 300;
	line-height: 1.8em;
	text-align: justify;
	color: $text-color;
    font-size: 1em;
}
.msg {
	text-align: center;
}
.review {
	display: flex;
	margin-bottom: 20px;
	padding: 10px;
	border: 1px solid;
    border-radius: 0.3em;
	animation: borderRotate 2s linear infinite;
}
.avatar {
	margin-right: 10px;
	img {
		width: 45px;
		height: 45px;
		border-radius: 50%;
		transition: transform 0.5s ease;
	}
	img:hover {
        transform: rotate(360deg) scale(1.2); 
    }
}
.review-info {
	flex: 1;
}
.read-more-btn {
	display: inline-block;
	background-color: $secondary-color;
	color: $primary-color;
	padding: 8px 12px;
	border-radius: 5px;
	text-decoration: none;
	margin-top: 10px;
	text-align: center;
	width: 25%; 
	transition: background-color 0.3s ease, width 0.3s ease; 

	&:hover {
		background-color: lighten($secondary-color, 50%); 
		width: 50%; 
		color: #000000;
	}
}


@media screen and (max-width: 600px) {
	.container2 {
		font-size: 14px;
	}
	.info {
		grid-template-columns: 1fr;
	}
	.poster {
		margin: auto;
		width: auto;
		max-height: 10.8em;
	}
	.read-more-btn {
		width: 75%;
	}
}

// Featured Movie styles
.featured-movie {
    display: flex;
    align-items: center;
    margin: 20px auto;
    max-width: 75rem;
    padding: 20px;
    background-color: $background-color_1;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

    .featured-movie-poster {
        width: 200px;
        height: auto;
        margin-right: 20px;
    }

    .featured-movie-details {
        flex: 1;

        h2 {
            font-size: 24px;
            margin-bottom: 10px;
        }

        p {
            font-size: 16px;
            margin-bottom: 8px;
        }
    }
}


// Top 20 Movies styles
.top20-movie {
    margin: 20px auto;
    max-width: 50rem;
    display: flex;
    align-items: center;
    background-color: $background-color_1;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    animation: changeBackgroundColor 10s infinite alternate;

    .top20-movie-poster {
        width: 120px;
        height: auto;
        margin-right: 20px;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
    }

    .top20-movie-details {
        flex: 1;
        padding: 10px;

        h3 {
            font-size: 18px;
            margin-bottom: 5px;
        }

        p {
            font-size: 14px;
            color: $text-color;
            margin-bottom: 5px;
        }
    }
}



@property --angle {
	syntax: '<angle>';
	initial-value: 90deg;
	inherits: true;
}

@property --gradX {
	syntax: '<percentage>';
	initial-value: 50%;
	inherits: true;
}

@property --gradY {
	syntax: '<percentage>';
	initial-value: 0%;
	inherits: true;
}


.box {
	// font-size: 3vw;
	margin: max(1rem, 3vw);
	border: 0.35rem solid;
	padding: 3vw;
	border-image: conic-gradient(from var(--angle), var(--c2), var(--c1) 0.1turn, var(--c1) 0.15turn, var(--c2) 0.25turn) 30;
	animation: borderRotate1 var(--d) linear infinite forwards;
}

.box:nth-child(2) {
	border-image: radial-gradient(ellipse at var(--gradX) var(--gradY), var(--c1), var(--c1) 10%, var(--c2) 40%) 30;
	animation: borderRadial var(--d) linear infinite forwards;
}



// Include theme partial
@import 'theme';
@import 'animations';
