$color_1: #ffffff;
$color_2: #a0a0a0;
$color_3: #fff;
$font-family_1: "Poppins", sans-serif;
$background-color_1: #201f28;
$background-color_2: transparent;
$background-color_3: #ffb92a;
$border-color_1: #ffffff;

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: $font-family_1;
}
body {
	height: 100vh;
	background: linear-gradient(#000000 50%, #ffb92a 50%);
}
.container {
	font-size: 16px;
	width: 90vw;
	max-width: 75em;
	padding: 3em 1.8em;
	background-color: $background-color_1;
	position: absolute;
	transform: translate(-50%, -50%);
	top: 50%;
	left: 50%;
	border-radius: 0.6em;
	box-shadow: 1.2em 2em 3em rgba(0, 0, 0, 0.2);
	max-height: 80vh;
	overflow-y: auto;
	
	/* Customize scrollbar */
	&::-webkit-scrollbar {
		width: 6px; 
	}

	&::-webkit-scrollbar-thumb {
		background-color: $color_3;
		border-radius: 3px; 
	}

	&::-webkit-scrollbar-track {
		background-color: $background-color_1; 
	}

	&::-webkit-scrollbar-thumb:hover {
		background-color: lighten($color_3, 10%); 
	}
}
.search-container {
	display: grid;
	grid-template-columns: 9fr 3fr;
	gap: 1.2em;

	input {
		font-size: 0.9em;
		outline: none;
		border-radius: 0.3em;
		background-color: $background-color_2;
		border: 1px solid #a0a0a0;
		padding: 0.7em;
		color: $color_1;
	
		&:focus {
			border-color: $border-color_1;
		}
}

	button {
		font-size: 0.9em;
		outline: none;
		border-radius: 0.3em;
		background-color: $background-color_3;
		border: none;
		cursor: pointer;
		transition: background-color 0.3s ease, letter-spacing 0.3s ease; 
	
		&:hover {
			letter-spacing: 5px; 
			background-color: lighten($background-color_3, 50%); 
		}
	}
}

#result {
	color: $color_1;
}
.info {
	position: relative;
	display: grid;
	grid-template-columns: 4fr 8fr;
	align-items: center;
	margin-top: 1.2em;
}
.poster {
	width: 100%;
	border: 2px solid transparent;
	transition: border-color 0.3s ease; 
	&:hover {
	  border-color: #ffb92a; 
	}
}

h2 {
	text-align: center;
	font-size: 1.5em;
	font-weight: 600;
	letter-spacing: 0.06em;
	animation: shadowAnimation 2s infinite alternate;
}

.rating {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 0.6em;
	margin: 0.6em 0 0.9em 0;
	img {
		width: 2em;
	}
	h4 {
		display: inline-block;
		font-size: 1.1em;
		font-weight: 500;
	}
}
.details {
	display: flex;
	font-size: 0.95em;
	gap: 1em;
	justify-content: center;
	color: $color_2;
	margin: 0.6em 0;
	font-weight: 300;
}
.genre {
	display: flex;
	justify-content: space-around;
	div {
		border: 1px solid #a0a0a0;
		font-size: 0.75em;
		padding: 0.4em 1.6em;
		border-radius: 0.4em;
		font-weight: 300;
	}
}
h3 {
	font-weight: 500;
	margin-top: 1.2em;
	color: $color_2;
}
p {
	font-size: 0.9em;
	font-weight: 300;
	line-height: 1.8em;
	text-align: justify;
	color: $color_2;
}
.msg {
	text-align: center;
}
.review {
	display: flex;
	margin-bottom: 20px;
	border: 1px solid #ccc;
	padding: 10px;
}
.avatar {
	margin-right: 10px;
	img {
		width: 45px;
		height: 45px;
		border-radius: 50%;
		transition: transform 0.5s ease;
	}
	img:hover {
        transform: rotate(360deg) scale(1.2); 
    }
}
.review-info {
	flex: 1;
}
.read-more-btn {
	display: inline-block;
	background-color: $background-color_3;
	color: $color_3;
	padding: 8px 12px;
	border-radius: 5px;
	text-decoration: none;
	margin-top: 10px;
	text-align: center;
	width: 25%; 
	transition: background-color 0.3s ease, width 0.3s ease; 

	&:hover {
		background-color: lighten($background-color_3, 50%); 
		width: 50%; 
		color: #000000;
	}
}


@media screen and (max-width: 600px) {
	.container {
		font-size: 14px;
	}
	.info {
		grid-template-columns: 1fr;
	}
	.poster {
		margin: auto;
		width: auto;
		max-height: 10.8em;
	}
}

@import 'animations';